.partner-card {
  border-radius: 20px;
  overflow: hidden;

  figure {
    background-color: white;
    height: 200px;
    position: relative;
  }


  section {
    padding: 20px 16px;;
    background-color: black;
    color: white;
  }
}


.partner-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}