{{ define "main" }}
  <div class="article-layout">
    {{ partial "breadcrumbs" . }}

    {{ partial "p/section_open" (dict "classes" (slice "article"))}} 
      {{ partial "p/layout_open" (dict "classes" (slice "article")) }}
        <div class="default-content">
          <h2>{{ .Params.opener }}</h2>
          <div class="markdown pb-md">{{ .Params.intro|markdownify }}</div>
          {{ if eq .Params.in_progress true }}
            <div class="accordion">In Progress.</div>
          {{ else }}
            <div class="accordion">
              {{ range $index, $element := .Params.teams }}
                <div class="accordion-item{{ if eq $index 0 }} active{{ end }}">
                  <h3>{{ .title }} <span> </span></h3>
                  <div class="accordion-content">
                    <p>{{ .description }}</p>
                    
                      {{ $firstFour := first 4 .members }}
                      {{ $theRest := after 4 .members }}
                      <div class="grid grid-4">
                        {{ range $firstFour }}
                            {{ partial "card-person" . }}
                        {{ end }}
                      </div>
                      {{ with $theRest }}
                        <details>
                          <summary><span>Show more members</span><em>hide more members</em></summary>                          
                          <div class="grid grid-4">
                            {{ range . }}
                              {{ partial "card-person" . }}
                            {{ end }}
                          </div>

                        </details>
                        <br /><br />
                      {{ end }}
                    
                  </div>
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      {{ partial "p/layout_close" }}
    {{ partial "p/section_close" }}
  </div>
{{ end }}