{{ define "main" }}
  <div class="article-layout">
    {{ partial "breadcrumbs" . }}

    {{ partial "p/section_open" (dict "classes" (slice "article"))}} 
      {{ partial "p/layout_open" (dict "classes" (slice "article")) }}
        <div class="default-content">
          <h2>{{ .Params.opener }}</h2>
          <div class="markdown pb-md">{{ .Params.intro|markdownify }}</div>
          <div class="accordion">
              {{ range $index, $element := .Params.teams }}
                <div class="accordion-item{{ if eq $index 0 }} active{{ end }}">
                  <h3>{{ .title }} <span> </span></h3>
                  <div class="accordion-content">
                    <p>{{ .description }}</p>
                    <div class="flex start">
                      {{ range .members }}
                          {{ partial "card-person" . }}
                      {{ end }}
                    </div>
                  </div>
                </div>
              {{ end }}

          </div>
        </div>
      {{ partial "p/layout_close" }}
    {{ partial "p/section_close" }}
  </div>
{{ end }}