.cta-link {
  display: inline-block;
  margin-right: 8px;

  &.external {
    svg {
      margin-left: 8px;
      width: 12px;
      height: 12px;
      fill: #fff;
    }
  }
}


.button-base {
  background-color: black;
  color: white;
  border-radius: 24px;
  border: 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  padding: 12px 24px;

  &.inverse {
    background-color: white;
    color: black;
    svg {
      fill: black;
    }
  }

  &.primary {
    background-color: black;
  }

  &.secondary {
    color: black;
    background-color: var(--brand);
  }
}

.button {
  display: flex;
  align-items: center;

  
  color: #000000; 

  

  &.sm {
    font-size: 14px;
  }

  &.lg {
    font-size: 18px;
  }
}

.icon {
  svg {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    margin-top: 3px;
    fill: white;
  }
}

.icon-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  svg {
   height: 32px;
  }

  .round {
    border-radius: 50%;
  }
}