.accordion {
  .accordion-item {
    padding-top: 8px;

    .accordion-content {
      display: none;
      padding-bottom: 8px;
    }

    border-bottom: 1px solid black;


    > h3 {
      display: flex;
      align-items: center;
      padding-bottom: 8px;
      display: pointer;

      span {
        margin-left: 24px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        transform-origin: bottom;
        transform: rotate(-45deg);
        margin-top: -4px;
      }
    }


    &:first-of-type {
      padding-top: 0;
    }


    &.active {
      h3 {
        span {
          transform: rotate(135deg);
        }
      }
      .accordion-content {
        display: block;
      }
    }
  }
}