.carousel {
  --item-width: calc(var(--cw) / 3);

  overflow-x: hidden;

  .slides {
    padding-top: 16px;
    padding-bottom: 16px;
    
    padding-left: 8px;

    display: flex;
    position: relative;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }


    > * {
      margin-right: 32px;
      width: calc(var(--item-width) - 32px);

      scroll-snap-align: 8px;
      flex-shrink: 0;
    }
  }



  .pages {
    display: flex;
    align-items: center;
    color: white;


    div {
      margin-left: 16px;
    }
  }

  &.responsive-controls {
    .pages {
      display: none;
    }
  }

  @media(max-width: 700px) {

    .slides {
      > * {
        width: calc(100vw - 32px);
      }
    }

    &.responsive-controls {
      .pages {
        display: none;
      }
    }
  }
}


.smallousel {
  background-color: #fff;
  border-radius: 64px;
  padding: 24px 16px;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;

  .smallouselnav {
    flex: 0 0 64px;

    display: flex;
    align-items: center;

    &:last-of-type {
      justify-content: flex-end;
    }
  }

  .smallouselcontent {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    height: 64px;
  
    .slides {
      position: absolute;
      width: 100%;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      display: flex;  
      flex-wrap: nowrap;
  
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      
      &::-webkit-scrollbar {
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
  
      section {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
        display: flex;
        justify-content: center; /* Center image horizontally */
        align-items: center; /* Center image vertically */
        width: 115.2px; /* Ensure fixed width for each section */
        height: 64px; /* Ensure fixed height for each section */
  
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  
    img {
      max-height: 64px;
      max-width: 115.2px;
      width: auto; /* Maintain aspect ratio */
      height: auto; /* Maintain aspect ratio */
    }
  }  
}
