footer.main {
  background-color: #1D1D1D;

  display: flex;
  flex-direction: column;

  .container {
    max-width: var(--cw);
    margin: auto;

    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
  }

  article {
    padding: 96px 0;
    flex: 1 1 auto;
    color: #fff;

    .container {
      section {
        flex: 0 0 50%;

        &:first-of-type {
          padding-right: 32px;
        }
      }
    }
  }

  aside {
    flex: 0 0 52px;
    background-color: #000;
    color: #fff;
    padding: 16px;

    a {
      color: #fff;
    }
  }

  @media(max-width: 700px) {
    article {
      padding: 16px;
      .container {
        flex-direction: column;

        section {
          margin-bottom: 32px;

          a.cta {
            font-size: 10px;
          }
        }
      }
    }

    aside {
      font-size: 11px;
    }
  }
}

.footernav {
  display: flex;
  justify-content: space-between;

  h4 {
    color: var(--brand);
    margin-bottom: 12px;
  }
  li {
    padding-right: 16px;
    ul {
      
      li {
        padding-bottom: 8px;
        a {
          color: #fff;
          border-bottom: 0;

          &:hover {
            border-bottom: 0.5px solid #fff;
          }
        }
      }
    }
  }

  @media(max-width: 700px) {
    li {
      ul {
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.ethics-footer {
  margin-top: 40px !important; 
  background-color: #fff;
  border-radius: 42px;
  max-width: var(--cw);
  margin: auto;
  overflow: hidden;
  display: flex;

  h3, p {
    color: #000;
  }


  img {
    flex: 0 0 30%;
    object-fit: cover; 
    height: 220px;
  }


  .content {
    flex: 1 1 auto;
    padding: 20px 16px;
  }

  @media(max-width: 700px) {
    flex-direction: column;

    img {
      height: 140px;
    }
  }
}