.ps {

  &.ps-hide {
    overflow-x: hidden;
  }


  &.ps-default {
    background-color: #fff;
  }

  &.ps-inverse {
    background-color:#1D1D1D; 
  }

  &.ps-primary {
    background-color: var(--brand);
  }

  &.ps-gradient {
    background: linear-gradient(3.3deg, #FFFFFF 59.39%, rgba(61, 220, 235, 0.2) 97.41%);
  }

  &.ps-gradient-reverse {
    background: linear-gradient(to top, rgba(61, 220, 235, 0.2) 50%, #fff 100%);
  }


  &.ps-overlap {  
    background: linear-gradient(to bottom, #fff 0%, #fff 64px, #1D1D1D 64px, #1D1D1D 100%);
    .ps-container {
      
      background: transparent url("/assets/bubble.png") no-repeat 60% 120px;
    }
  }


  &.ps-overlap-top {
    .ps-container {
      position: relative;
      top: -128px;
    }
  }

  &.ps-overlap-top-lg {
    .ps-container {
      position: relative;
      top: -228px;
    }
  }

  &.ps-overlap-bottom {
    .ps-container {
      position: relative;
      bottom: -96px;
    }
  }

  &.ps-overlap-bottom-xl {
    .ps-container {
      position: relative;
      bottom: -296px;
    }
  }

  &.ps-pt-md {
    padding-top: 64px;
  }

  &.ps-round {
    padding-top: 64px;

    &.ps-round-topright {
      border-top-right-radius: 300px; /* TODO: var */
    }
    
    &.ps-round-topleft {
      border-top-left-radius: 300px;
    }
    
    &.ps-round-bottomright {
      border-bottom-right-radius: 300px;
    }
    
    &.ps-round-bottomleft {
      border-bottom-left-radius: 300px;
    }

    @media(max-width: 700px) {
      padding-top: 32px;

      &.ps-round-topright {
        border-top-right-radius: 56px; /* TODO: var */
      }
      
      &.ps-round-topleft {
        border-top-left-radius: 56px;
      }
      
      &.ps-round-bottomright {
        border-bottom-right-radius: 56px;
      }
      
      &.ps-round-bottomleft {
        border-bottom-left-radius: 56px;
      }
    }
  }


  &.ps-article {
    .ps-container {
      
    }
  }

}



.pl {
  display: flex;
  padding: 64px 0;

  

  .pl-filler {
    flex: 0 0 var(--rest);
  }

  

  .pl-content {
    flex: 0 0 var(--cw);
    padding: 0;
    @media(max-width: 700px) {
      padding: 0 16px;
    }
    &.pl-extend {
      flex: 0 0 calc(var(--cw) + var(--rest));
      overflow-x: hidden;
      padding-right: 0;
    }


    &.pl-columns {
      display: grid;
      grid-gap: 32px;


      h1, h2, h3 {
        grid-column: 1 / -1;
      }

      &.pl-columns-2 {
        grid-template-columns: 1fr 1fr;
        @media(max-width: 700px) {
          grid-template-columns: 1fr;
        }
      }

      &.pl-columns-3 {
        grid-template-columns: 1fr 1fr 1fr;
      }

      &.pl-columns-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      &.pl-vcenter {
        align-items: center;
      }
    }

    &.pl-left {
      display: grid;
      grid-template-columns: 1fr 2fr;

      @media(max-width: 700px) {
        grid-template-columns: 1fr;
      }

    }
    &.pl-right {
      display: grid;
      grid-gap: 32px;
      grid-template-columns: 2fr 1fr;
      
      @media(max-width: 700px) {
        grid-template-columns: 1fr;
      }
    }


    &.pl-article {
      background-color: white;
      padding-top: 32px;
      padding-bottom: 32px;
      border-top-left-radius: 20px;
      border-top-right-radius: 300px;
      overflow: hidden;
    }

    &.pl-has-image {
      background: linear-gradient(to bottom, #333 0%, #333 300px, #fff 300px, #fff 100%);
    }

    &.pl-no-top-padding {
      margin-top: -64px;
    }
  }
}




.breadcrumbs {

  position: sticky;
  z-index: 1;
  top: 108px;
  margin-left: var(--rest);
  

  ul {
    padding: 8px 12px;
    background-color: #f2f2f2;
    border-radius: 32px;

    display: inline-flex;
    flex-direction: row-reverse;
    list-style: none;

    li {
      font-size: 0.8em;
      padding-right: 8px;
      

      a {
        text-decoration: none;
        border-bottom: none;
      }
    }
  }

  @media (max-width: 700px) {
    top: 52px;
  }
}


.home-layout {
  padding-top: 128px;
  background-color: #fff;
}


.article-layout, .topic-layout {
  padding-top: 128px;
  background-color: #1D1D1D;

  .breadcrumbs {
    ul {
      background-color: #343434;
      li {
        color: #858585;

        a {
          color: #fff;
        }
      }
    }
  }
}

.topic-layout {
  padding-top: 0;
  background-color: white;
}


.intro-image {
  height: 580px;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    width: 100%;
    top: -20%;
    object-fit: cover;
  }

}


.person-highlight {
  background-color: var(--brand);

  border-radius: 328px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  margin-top: -256px;
  transform: translateY(256px);

  figure {
    border-radius: 50%;
    overflow: hidden;
    height: 400px;
    width: 400px;
    flex: 0 0 400px;
    img {
      height: 400px;
      width: 400px;
      object-fit: cover;
    }
  }

  article {
    padding: 32px;
    color: black;
  }

  @media(max-width: 700px) {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    figure {
      flex: 0 0 300px;
      width: 300px;
      height: 300px;
      img {
        width: 300px;
        height: 300px;
      }
    }

    article {
      padding: 16px 16px 64px 16px;
    }
  }
  
}

.overlap-bottom {
  transform: translateY(256px);
  margin-top: -256px;
}

.overlap-top {
  transform: translateY(-256px);
  margin-bottom: -256px;
}

.donate-blocks {
  .block {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 16px;
    padding: 16px;

    display: flex;
    justify-content: space-between;

    a.cta {
      white-space: nowrap;
    }
  }
}

.image-fill {
  position: relative;
  overflow: hidden;
  height: 600px;

  img {
    position: absolute;
    height: 600px;
    object-fit: cover;
  }
}