nav.nav-container {
  position: fixed;
  top: 10px;
  left: 0;
  width: calc(var(--cw) + var(--rest));
  z-index: 3;

  .main-nav {
    position: absolute;
    width: calc(var(--cw) + var(--rest));
    z-index: 2;
    top: 0;
    background-color: black;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;

    padding: 24px 0;

    padding-left: var(--rest);
    display: flex;
    align-items: center;
    justify-content: space-between;

    a.divd {
      display: block;
      flex: 0 0 120px;
      .logo {
        width: 96px;
      }
    }

    article {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-start;
      a {
        padding: 0 24px;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        line-height: 14px;

        letter-spacing: 0.04em;

        svg {
          fill: white;
          margin-left: 8px;
          height: 8px;
          width: 14px;
          transition: transform 0.3s ease-in-out;
          transform: rotate(180deg);
        }

        transition: color 0.3s ease-in-out;

        &:hover {
          color: var(--brand);

          svg {
            transform: rotate(0);
            fill: var(--brand);
          }
        }
      }
    }

    aside {
      flex: 0 0 300px;
      color: white;

      display: flex;
      align-items: center;

      button {
        margin-right: 8px;
      }

      section {
        padding-left: 8px;

        &.language {
          span {
            color: var(--brand);
          }

          a {
            text-transform: lowercase;
            color: white;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &.actions {
          display: flex;
          justify-content: flex-start;
        }
      }

      .menu-button {
        display: none;
      }
    }
  }

  .sub-nav {
    display: none;
  }

  &:hover {
    .sub-nav {
      display: block;
    }
  }

  @media (max-width: 640px) {
    top: 0;
    width: 100%;

    .main-nav {
      width: 100%;
      padding: 10px 0;
      padding-left: 20px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 32px;

      a.divd {
        flex: 0 0 60px;
        .logo {
          width: 60px;
        }
      }

      article {
        display: none;
      }

      aside {
        flex: 1 1 auto;

        .actions {
          display: flex;
          flex: 1 1 auto;
          padding: 0 16px;
          align-items: center;
          justify-content: space-around;

          .search-button {
            display: none;
          }

          a {
            width: 100%;
          }
        }

        .language {
          margin-right: 16px;
          display: none;
        }
        button {
          padding: 4px 8px;
          display: flex;
          justify-content: space-around;

          svg {
            margin-right: 0;
          }
          span {
            display: none;
          }
        }

        .menu-button {
          display: block;
          margin-right: 16px;
        }
      }
    }

    .sub-nav {
      display: none;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 1;
      width: 100%;
      min-height: 100vh;
    }

    .sub-nav.active {
      display: block;
    }

    &:hover {
      .sub-nav {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

nav.sub-nav {
  padding-top: 96px;
  box-shadow: 0px 4px 20px 0px #0000001a;
  border-bottom-right-radius: 64px;
  border-top-right-radius: 64px;
  overflow: hidden;
  background: linear-gradient(to right, #fff 0%, #fff 50%, #f2f2f2 51%);

  display: none;
  justify-content: center;

  z-index: 2;

  &.active {
    display: flex;
  }

  article {
    padding-left: calc(var(--rest) + 110px);
    width: 100%;
    background-color: #fff;
    display: flex;
  }

  section:first-of-type {
    background-color: white;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;

    padding: 32px;

    div {
      flex: 0 0 33%;
      h3 {
        text-transform: uppercase;
        font-size: 1em;
        margin-bottom: 20px;
        font-weight: 600;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 10px;
          a {
            font-size: 1em;
            text-decoration: none;
            border-bottom: none;
            font-weight: 300;
            opacity: 0.8;
            &:hover {
              text-decoration: underline;
            }

            svg {
              width: 11px;
            }
          }
        }
      }
    }
  }

  section:last-of-type {
    flex: 0 0 400px;
    background-color: #f2f2f2;

    padding: 32px;
  }

  @media (max-width: 640px) {
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow-y: scroll;
    max-height: 100vh;
    article {
      padding: 0;
      display: block;
      section:first-of-type {
        flex-direction: column;

        .topic {
          margin-bottom: 16px;

          ul {
            li {
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}
