.opener {
  display: flex;
  justify-content: center;
  position: relative;
  
  article {
    flex: 1;
    max-width: 1200px;
    display: flex;

    section {
      flex: 0 0 50%;
      padding: 128px 0;

      p {
        margin-bottom: 32px; /* VAR */
      }
    }
  }

  aside {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    width: calc(100vw - 50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // overflow: hidden;

    img {
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      object-fit: contain;
      object-position: right;
    }
  }

  @media(max-width: 700px) {
    position: static;
    flex-direction: column-reverse;
    article {

      padding: 0 32px;

      section {
        padding: 64px 0;
        flex: 1;
      }
    }

    aside {
      height: auto;
      position: static;
      order: 1;
      height: auto;
      width: auto;
      img {
        position: static;
      }
    }
  
  }
}

.sub-opener {
  display: flex;
  justify-content: space-around;


  article {
    max-width: 800px;


    h2 {
      color: var(--brand);
      text-align: center;
    }

    p {
      color: var(--brand);
      text-align: center;
    }
  }
}

.image-container {
  
  img {
    max-width: 100%;
  }

  .image-half-pill {
    border-top-left-radius: 256px;
    border-bottom-left-radius: 256px;
    overflow: hidden;
    width: 100%;

    img {
      object-fit: cover;
    }

  }
}


.bubble {
  position: absolute;
  background: linear-gradient(to right, #3DDCEB 0%, rgba(61, 220, 235, 0) 100%);
  height: 126px;
  width: 200px;


  &.bubble-small {
    top: 0;
    border-radius: 64px;
    width: 80%;
    left: 0;
    height: 128px;
  }

  &.bubble-small-half {
    top: 0;
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
    width: 200px;
    height: 128px;
  }

  &.bubble-large {
    border-top-left-radius: 128px;
    bottom: 0px;
    height: 128px; 
    width: 100%;
  }

  &.bubble-large-middle {
    border-top-left-radius: 128px;
    right: 0;
    bottom: 0px;
    height: 128px; 
    width: 40%;
  }

  &.bubble-bottom-right {
    border-top-left-radius: 64px;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 64px;
  }

  &.under {
    z-index: 1;
  }

  &.over {
    z-index: 3;
  }

  &.far-left {
    left: -200px;
  }

  &.left {
    left: 40px;
  }

  &.middle {
    left: 50%;
  }

  &.far-right {
    right: 0px;
  }
}