


{{ define "main" }}
{{ partial "breadcrumbs" . }}

<div class="topic-layout newsroom articles">

  {{ partial "p/section_open" (dict "classes" (slice "default")) }} 
    {{ partial "p/layout_open" }}
    {{ template "_internal/pagination.html" . }}
      <div class="newsroom-article-list">
        
        {{ range .Paginator.Pages.ByDate.Reverse }}
        <div class="article">
          <section>
            <div class="summary">
              <h4>{{ .Params.tag }}</h4>
              <h3>{{ .Title }}</h3>
              <p>{{ .Params.intro }}</p>
            </div>
            <nav>
              <a href="{{ .Permalink }}" class="button">
                {{ i18n "readmore" }}
              </a>
            </nav>
          </section>
          {{ if .Params.image }}
            <aside>
              {{ with resources.Get .Params.image }}
                {{ partial "tools/rimg/img" (dict "img" . "alt" "test") }}
              {{ end }}
            </aside>
          {{ end }}
        </div>
        {{ end }}

      </div>
      {{ template "_internal/pagination.html" . }}
    {{ partial "p/layout_close" }}
  {{ partial "p/section_close" }}
</div>


{{ end }}

