

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
}





.topic-intro {
  background-color: #1D1D1D;
  padding-top: 128px;
  border-bottom-left-radius: 150px; 
}

p.pre {
  white-space: pre-wrap;
}


a.cta {

  background-color: black;
  color: white;
  border-radius: 24px;
  border: 0;

  font-family: var(--font-text);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  padding: 8px 16px;
  display: inline-block;
  margin-right: 8px;

  svg {
    margin-left: 8px;
    width: 12px;
    height: 12px;
    fill: #fff;
  }


  &.inverse {
    background-color: white;
    color: black;
    svg {
      fill: black;
    }
  }

  &.primary {
    background-color: black;
  }

  &.secondary {
    color: black;
    background-color: var(--brand);
  }
}


.divd-family-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 32px;

  .divd-family-item {
    border-radius: 20px;
    padding: 32px;
    background-color: #1D1D1D;
    color: #fff;

    h3 {
      margin-bottom: 16px;
    }
  }
}



.partner-card {
  border-radius: 20px;
  overflow: hidden;

  figure {
    background-color: white;
    height: 200px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }


  section {
    padding: 20px 16px;;
    background-color: black;
    color: white;
  }
}


.partner-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}


button, .button {
  background-color: black;
  color: white;
  border-radius: 24px;
  border: 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  padding: 4px 16px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  &.primary {
    color: #000;
    background-color: var(--brand);
  }

  &.inverse {
    background-color: white;
    color: black;
    svg {
      fill: black;
    }
  }

  &.secondary {
    background-color: #333333;
    color: #fff;
  }

  &.icon {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-right: 8px;
    svg {
      margin: 0;
    }
  }


  svg {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    margin-top: 1px;
    fill: white;
  }
}

ol {
  list-style: outside;
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 10px;

  li {
    margin-bottom: 10px;

    ul {
      list-style: circle;
      li {
        font-size: 1em;
      }
    }
  }
}

.image-header {
  margin: -33px -33px 32px -33px;
  height: 520px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    min-width: 100%;
    min-height: 520px;
    
  }
}


.default-content {
  padding: 32px 50px 50px 50px;

  p {
    max-width: 760px;
  }
}

.flex {
  display: flex;
  justify-content: space-between; 
  gap: 20px;

  &.start {
    justify-content: flex-start;
  }
}


ul.article-list {
  li {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    > svg {
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }
    a {
      border-bottom: 0;
    }
  }

  margin-bottom: 32px;
}

.default-text {
  margin-bottom: 32px;
  max-width: 620px;
}


a.external {
  svg {
    width: 12px;
    heighT: 12px;
  }
}

ul.checklist {

  li {
    display: flex;
    margin-bottom: 18px;
    svg {
      height: 16px;
      margin-right: 8px;
    }
  }
}