

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
}



.topic-intro {
  background-color: #1D1D1D;
  padding-top: 128px;
  border-bottom-left-radius: 150px; 
  padding-bottom: 32px;

  h1 {
    padding: 0;
    margin: 0;
  }
  .pl {
    padding-top: 24px;
  }

  @media (max-width: 700px) {
    padding-top: 64px;
    border-bottom-left-radius: 64px; 
  }          
}

.bg-gradient {
  background: linear-gradient(to bottom, rgba(61, 220, 235, 0.2)  60%, #FFFFFF 100%);


  &.bg-gradient-reverse {
    background: linear-gradient(to top, rgba(61, 220, 235, 0.2)  60%, #FFFFFF 100%);
  }

  &.bottom-lg {
    padding-bottom: 228px;
  }
}

p.pre {
  white-space: pre-line;
}


a.title-link {
  border-bottom: 0;
}

a.cta {

  background-color: black;
  color: white;
  border-radius: 24px;
  border: 0;

  font-family: var(--font-text);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  padding: 8px 16px;
  display: inline-block;
  margin-right: 8px;

  svg {
    margin-left: 8px;
    width: 12px;
    height: 12px;
    fill: #fff;
  }


  &.inverse {
    background-color: white;
    color: black;
    svg {
      fill: black;
    }
  }

  &.primary {
    background-color: black;
  }

  &.secondary {
    color: black;
    background-color: var(--brand);
  }

  &.alternative {
    background-color: white;
    color: black;
    border: 1px solid black;
    svg {
      fill: black;
    }
  }

  &.gray {
    color: black;
    background-color: #F2F2F2;
  }
}


.divd-family-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 32px;

  .divd-family-item {
    border-radius: 20px;
    padding: 32px;
    background-color: #1D1D1D;
    color: #fff;

    display: flex;
    flex-direction: column;

    section {
      flex: 1 1 auto;
    }

    nav {
      flex: 0 0 44px;
    }

    h3 {
      margin-bottom: 16px;
    }
  }

  @media(max-width: 700px) {
    grid-template-columns: 1fr;
    grid-gap: 8px;

    .divd-family-item {
      padding: 10px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      section {
        h3 {
          margin: 0;
          padding: 0;
        }
        p {
          display: none;
        }
      }

      nav {
        flex: 0 0 140px;
        text-align: right;
        a {
          margin-right: 0;
          background-color: var(--brand);
          color: black;
          svg {
            fill: black;
          }
        }
      }

      
    }
  }

}



.partner-card {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  figure {
    background-color: white;
    flex: 0 0 200px;
    overflow: hidden;

    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */

    picture {
      margin-left: 10px;
      margin-right: 10px;
    }

    img {
      max-width: 100%;
      max-height: 100%; /* Ensure the image does not overflow */
    }
  }

  section {
    flex: 1 1 auto;
    padding: 20px 16px;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;

    .content { 
      flex: 1 1 auto;
    }

    .cta {
      flex: 0;
    }
  }
}



.partner-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  
}


button, .button {
  background-color: black;
  color: white;
  border-radius: 24px;
  border: 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  padding: 4px 16px;

  display: inline-flex;
  justify-content: space-around;
  align-items: center;

  &.primary {
    color: #000;
    background-color: var(--brand);
  }

  &.inverse {
    background-color: white;
    color: black;
    svg {
      fill: black;
    }
  }

  &.secondary {
    background-color: #333333;
    color: #fff;
  }

  &.icon {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-right: 8px;
    svg {
      margin: 0;
    }

    &.small {
      width: 32px;
      height: 32px;
    }
  }


  svg {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 1px;
    fill: white;
  }
}

ol {
  list-style: outside;
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 10px;

  li {
    margin-bottom: 10px;

    ul {
      list-style: circle;
      
    }
  }
}

.image-header {
  margin: -33px -33px 32px -33px;
  height: 520px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    min-width: 100%;
    min-height: 520px;
    
  }
}


.default-content {
  padding: 32px 50px 50px 50px;

  p {
    max-width: 760px;
  }

  @media(max-width: 700px) {
    padding: 32px 0 50px 0;
  }
}

.flex {
  display: flex;
  justify-content: space-between; 
  gap: 20px;

  &.start {
    justify-content: flex-start;
  }

  &

  &.flex-50 {
    
    > * {
      flex: 0 0 50%;
    }
  }

  @media(max-width: 700px) {
    display: block;
  }
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  &.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
  }

  &.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px;
  }

  // Mobile & tablet
  @media(max-width: 900px) {
    &.grid-3 {
      grid-template-columns: 1fr 1fr;
      grid-gap: 4px;
    }

    &.grid-4 {
      grid-template-columns: 1fr 1fr;
      grid-gap: 4px;
    }
  }
}


ul.article-list {
  li {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    > svg {
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }
    a {
      border-bottom: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  margin-bottom: 32px;
}

.default-text {
  margin-bottom: 32px;
  max-width: 620px;
}


a.external {
  svg {
    width: 12px;
    heighT: 12px;
  }
}

ul.checklist {
  margin-bottom: 48px;

  li {
    display: flex;
    margin-bottom: 18px;
    font-size: 16px;
    svg {
      height: 16px;
      margin-right: 8px;
    }
  }
}


.steps {
  section {
    
    border-radius: 20px;
    overflow: hidden;
    header {
      background-color: #000;
      display: flex;
      align-items: center;
      padding: 20px;
      span {
        width: 54px;
        height: 54px;
        flex: 0 0 54px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50%;
        background-color: var(--brand);
        color: #000;
        margin-right: 16px;
        font-weight: bold;
        font-size: 1.6em;
      }
      h4 {
        color: #fff;
        font-size: 1.5em;
        font-weight: 700;
      }
    }
    p {
      background-color: #fff;
      border-radius: 0 0 20px 20px;
      padding: 20px;
    }
  }
}


.panel {
  background-color: #fff;
  padding: 60px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  @media (max-width: 700px) {
    padding: 16px;
  }
}

.fill-center {
  display: flex;
  align-items: center;

  &.hor {
    justify-content: space-around;
  }
}

.pt-sm {
  padding-top: 16px;
}
.pt-md {
  padding-top: 32px;
  @media (max-width: 700px) {
    padding-top: 16px;
  }
  
}
.pt-lg {
  padding-top: 64px;
}
.pt-xlg {
  padding-top: 328px;
}

.pb-sm {
  padding-bottom: 16px;
}
.pb-md {
  padding-bottom: 32px;
}
.pb-lg {
  padding-bottom: 64px;
}
.pb-xlg {
  padding-bottom: 328px;
}
.pb-xxlg {
  padding-bottom: 428px;
}


form.default {
  max-width: 400px;

  
  label {
    display: block;
    margin-bottom: 4px;
  }

  input, textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    padding: 4px 8px;
  }

  textarea {
    min-height: 100px;
  }


  section {
    margin-bottom: 20px;
    &.required label:after, p.required label:after {
      content: "*";
      color: red;
    }

    &.split {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

    > div {
      flex: 1;
      margin: 0;
      padding: 0;
    }

    &.agree {
      label {
        display: inline-block;
      }

      input {
        display: inline-block;
        width: auto;
      }
    }
  }

}

.hide-mob {
  @media (max-width: 700px) {
    display: none;
  }
}


ul.sumup {

  li {
    display: flex;
    background-color: #000;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      flex: 0 0 196px;
      max-width: 196px;
      object-fit: cover;
    }
    div {
      flex: 1 1 auto;
      color: #fff;
      padding: 20px 16px;
    }
  }

  @media (max-width: 700px) { 
    li {
      border-radius: 10px;
      
      img {
        flex: 0 0 120px;
        max-width: 120px;
      }
    }
  }
}

.offset:before {
  display: block;
  content: " ";
  height: 128px;
  margin-top: -128px;
  visibility: hidden;
}


table.donations {
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;

  td, th {
    padding: 20px 20px;
  }
  thead {
    tr {
      th {
        text-align: left;
        color: #fff;
        background-color: black;        
      }
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: #f4f4f4;
    }
  }
}


.image-grow {
  overflow: hidden;
  img {
    max-width: 100%;
    object-fit: contain;
  }
}

.disabled {
  display: none;
}

.tag-list {
  margin-bottom: 32px;
  a {
    display: inline-block;
    margin: 0 8px 8px 0;

    border-radius: 16px;
    border: 2px solid black;
    text-align: center;
    padding: 4px 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;

    &:hover {
      background-color: black;
      color: #fff;
    }
  }
}

// Style show more element on people pages
.csirt-show-more {
  border-radius: 22px;
  background-color: #F2F2F2;
  color: black;
  display: inline-block; /* Ensure the details element is inline-block */
  padding: 0; /* Remove padding from the details element */
  margin-bottom: 16px;

  summary {
    background-color: #F2F2F2; /* Apply the background color to the summary */
    padding: 8px 16px; /* Apply padding to the summary */
    border-radius: 22px; /* Apply border-radius to the summary */
    cursor: pointer; /* Change cursor to pointer for better UX */
    display: inline-block; /* Use inline-flex to preserve the arrow */
    align-items: center; /* Center align items */
    justify-content: space-between; /* Ensure content is spaced correctly */
    margin: 0; /* Remove default margin */
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    &:marker {
      color: black; /* Ensure the arrow is visible */
    }

    em {
      display: none;
    }
  }

  /* Ensure the ul does not inherit the background color or padding */
  ul {
    background-color: transparent; /* No background */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    list-style: none; /* Remove bullet points */

    li {
      padding: 8px 0; /* Add padding to list items for spacing */

      a {
        color: black; /* Ensure the link color is black */
        text-decoration: none; /* Remove underline from links */

        &:hover {
          text-decoration: underline; /* Add underline on hover */
        }
      }
    }
  }
}

.csirt-show-more[open] {
  background-color: initial;

  summary {
    span {
      display:none;
    }

    em {
      display: block;
      font-style: normal;
    }
  }
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 62.5%; /* Aspect ratio: 750/1200 = 0.625 */
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.debug-info {
  display: none;
}

blockquote {
  font-style: italic;
  color: #545454;
  padding: 10px 20px;
  margin: 20px 0;
  border-left: 5px solid #545454;
  margin-left: 40px;  /* Indent the blockquote */
  margin-right: 40px; /* Indent the blockquote */

  p {
    margin-bottom: 0px;
  }
}

.callout {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.callout.info {
  border-left-color: #3DDCEB;
  background-color: #E0F7FA; /* lighter shade of #3DDCEB */
  color: #000000;
}

.callout.warning {
  border-left-color: #FFD736;
  background-color: #FFF9E5; /* lighter shade of #FFD736 */
  color: #000000;
}

.callout.error {
  border-left-color: #FF5733; /* custom bright red */
  background-color: #FFDAD4; /* darker shade for better readability */
  color: #000000;
}

.callout.success {
  border-left-color: #3DDC9A; /* custom bright green */
  background-color: #E5FFF2; /* lighter shade of the custom bright green */
  color: #000000;
}