body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 900;
  font-size: 5em;
  font-family: var(--font-header);
  line-height: 0.8em;
}

h2 {
  font-weight: 900;
  font-size: 2.6em;
  font-family: var(--font-header);
  line-height: 1em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.4em;
  font-family: var(--font-text);
  font-weight: 700;
}

h6 {
  text-transform: uppercase;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 0.8em;
  color: #545454;
}

p.opener {
  font-weight: 400;
  font-size: 2em;
  font-family: var(--font-header);
  color: #545454;
  line-height: 1em;
  margin-top: 1em;
}

p {
  font-family: var(--font-text);
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 16px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 0.8em;
  }

  p.opener {
    font-size: 1.6em;
  }

  p {
    font-size: 1em;
  }

}



.reverse {

  h1, h2, p {
    color: #fff; /* TODO VAR */
  }
}