body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
}

h1 {
  font-weight: 900;
  font-size: 5em;
  font-family: var(--font-header);
  line-height: 1em;
  margin-bottom: 0.5em;
}

h2 {
  font-weight: 900;
  font-size: 2.6em;
  font-family: var(--font-header);
  line-height: 1em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.2em;
  font-family: var(--font-text);
  font-weight: 700;
  margin-bottom: 0.4em;
  line-height:  1.2em;
}

h6 {
  text-transform: uppercase;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 0.8em;
  color: #545454;
}

h1 + h3 {
  color: #545454;
  font-weight: 400;
  margin-top: -16px;
  margin-bottom: 1.4em;
}

h2 + h4 {
  color: #000;

  margin-top: -16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  letter-spacing: 0.4px;
}

p.opener {
  font-weight: 400;
  font-size: 2em;
  font-family: var(--font-header);
  color: #545454;
  line-height: 1em;
  margin-top: 1em;
}

p {
  font-family: var(--font-text);
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 16px;
  opacity: 0.8;
}

li {
  opacity: 0.8;
}

p.primary {
  color: var(--brand)!important;
  font-size: 1em;
}


.brand {
  color: var(--brand);
}
em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

@media (max-width: 700px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 0.8em;
  }

  p.opener {
    font-size: 1.6em;
  }

  p {
    font-size: 1em;
  }

}



.reverse {

  h1, h2, p, div, a {
    color: #fff; /* TODO VAR */
  }


  a {
    border-bottom: 1px solid white;
  }

}

.p, .markdown {
  font-family: var(--font-text);
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 16px;
}

.markdown {
  em {
    font-style: italic;
  }

  string {
    font-style: strong;
  }

  ul {
    list-style-position: inside;
  }

  
}

li, li li, li li li {
  font-size: 1em;
}