* {
  box-sizing: border-box;
}

:root {
  --fg: #000;
  --bg: #fff;
  --brand: #FFD736;

  --font-header: 'Source Sans 3';
  --font-text: 'Open Sans';

  --cw: calc(min(100%, 1200px));
  --rest: calc((100% - var(--cw)) / 2);
}

[data-theme='dark'] {
  --fg: #fff;
  --bg: #000;
}


select {
  font-size: 24px;
}

a {
  color: var(--fg);
  text-decoration: none;
  border-bottom: 1px solid var(--fg);
}
