.page-layout {

  --cw: calc(min(100vw, 1200px));
  --rest: calc((100vw - var(--cw)) / 2);

  display: flex;
  padding: 64px 0;

  .page-layout-filler {
    flex: 0 0 var(--rest);
  }

  .page-layout-content {
    flex: 0 0 var(--cw);

    &.page-layout-extend {
      flex: 0 0 calc(var(--cw) + var(--rest));
      overflow-x: hidden;
    }


    &.page-layout-columns {
      display: grid;
      grid-gap: 32px;


      h1, h2, h3 {
        grid-column: 1 / -1;
      }

      &.page-layout-columns-2 {
        grid-template-columns: 1fr 1fr;
      }

      &.page-layout-columns-3 {
        grid-template-columns: 1fr 1fr 1fr;
      }

      &.page-layout-columns-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    &.page-layout-left {
      display: grid;
      grid-gap: 32px;
      grid-template-columns: 1fr 2fr;
    }
    &.page-layout-right {
      display: grid;
      grid-gap: 32px;
      grid-template-columns: 2fr 1fr;
    }
  }
}