{{ $blocks := .Site.GetPage "/block" }}


{{ with $blocks.Params.contact }}
  {{ partial "p/layout_open" (dict "classes" (slice "columns" "columns-2")) }} 
    <div class="fill-top">
      <div>
        <h2 id="contact" class="offset">{{ .title }}</h2>
        <p class="pre">{{ .intro |markdownify }}</p>
      </div>
    </div>
    <div >
      <script type="text/javascript" src="https://form.jotform.com/jsform/221683503984058"></script>
{{/*  
      <form class="default" action="mailto:{{.email}}" method="GET" enctype="text/plain">
        <section class="required">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Your name" />
        </section>
        <section class="split">
          <div class="required">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="your@email.address" />
          </div>
          <div class="required">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone" placeholder="+00 0000000000" />
          </div>
        </section>
        <section>
          <label for="message">Message</label>
          <textarea id="message" name="message" placeholder="Optional message"></textarea>
        </section>

        <section class="agree">
          <label><input type="checkbox" name="nounsollicitedoffers" />I agree to not contact DIVD with unsollicited services or offers*</label>
        </section>

        <button class="cta" type="submit">Submit</button>
      </form>  */}}
    </div>

  {{ partial "p/layout_close" }}

{{ end }}