
{{ partial "comment.html" (dict "comment" "p/block/faq.html.html" ) }}

{{ $page := .Site.GetPage "/faq" }}


{{ with $page }}
  {{ partial "p/layout_open" (dict "classes" (slice "columns" "columns-2")) }} 
    <div>
      <h2>{{ .Title }}</h2>
      <p>{{.Params.intro}}</p>

      <a class="cta" href="/{{ .Lang }}/faq">{{ i18n "learnmore"}}</a>
    </div>
    <div>
      <div class="accordion">
        {{ with index .Params.faqgroups 0 }}
          {{ range $index, $element := .faqs }}
            <div class="accordion-item{{ if eq $index 0 }} active{{ end }}">
              <h3>{{ .title }} <span> </span></h3>
              <div class="accordion-content">{{ .description }}</div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  {{ partial "p/layout_close" }} 

{{ end }}

{{ partial "comment.html" (dict "comment" "/p/block/faq.html.html" ) }}
