
{{ partial "comment.html" (dict "comment" "p/block/faq.html.html" ) }}

{{ $context := . }}
{{ $index := 0 }}

{{ $page := site.GetPage "/faq" }}

{{ if isset . "context" }}
  {{/* Called with dict, so adjust context and retrieve targetHeading if exists. */}}
  {{ $context = .context }}
  {{ $targetHeading := .targetHeading }}
  {{ if $targetHeading }}
    
  {{ end }}
  {{ range $i, $v := $page.Params.faqgroups }}
    {{ if eq $v.heading $targetHeading }}
      {{ $index = $i }}
      {{ break }}
    {{ end }}
  {{ end }}
{{ end }}




{{ $isContactPage := eq .RelPermalink "/contact/" }}


{{ with $page }}
  {{ partial "p/layout_open" (dict "classes" (slice "columns" "columns-2")) }} 
    <div>
      <h2>{{ .Title }}</h2>
      <p>{{.Params.intro}}</p>


      {{ if $isContactPage }}
        <a href="#contact" class="cta">Contact</a>
      {{ else }}
        <a href="{{ "contact/" | relLangURL }}" class="cta">Contact</a>
      {{ end }}
      <a href="{{ "faq/" | relLangURL }}" class="cta inverse">All FAQ</a>
    </div>
    <div>
      <div class="accordion">
        {{ with index .Params.faqgroups $index }}
          {{ range $index, $element := .faqs }}
            <div class="accordion-item{{ if eq $index 0 }} active{{ end }}">
              <h3>{{ .title }} <span> </span></h3>
              <div class="accordion-content p">{{ .description|markdownify }}</div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  {{ partial "p/layout_close" }} 

{{ end }}

{{ partial "comment.html" (dict "comment" "/p/block/faq.html.html" ) }}
