
{{ $blocks := .Site.GetPage "/block" }}


{{ with $blocks.Params.mission }}
  {{ partial "p/section_open" (dict "classes" (slice "inverse" "overlap-bottom" "round" "round-topright" ))}} 
    {{ partial "p/layout_open" (dict "classes" (slice "default")) }} 
      <div class="sub-opener">
        <article>
          <h2>{{ .Title }}</h2>
          <p>{{ .description }}</p>
        </article>
      </div>
    {{ partial "p/layout_close" }}
    {{ partial "p/layout_open" (dict "classes" (slice "default")) }} 
      <ul class="stats">
        <li>
          <h2>{{ .members }}</h2>
          <h6>Members</h6>
        </li>

        <li>
          <h2>{{ .totalcases }}</h2>
          <h6>Total cases</h6>
        </li>

        <li>
          <h2>{{ .ips }}</h2>
          <h6>Vulnerable IPS Notified</h6>
        </li>
      </ul>
    {{ partial "p/layout_close" }}
  {{ partial "p/section_close" }} 

{{ end }}