{{ define "main" }}


<div class="article-layout">
  {{ partial "breadcrumbs" . }}

  {{ partial "p/section_open" (dict "classes" (slice "article" ))}} 

    {{ partial "p/layout_open" (dict "classes" (slice "article")) }}
      
      

      <div class="article-body people">
        <article>
          <h1>{{ .Title }}</h1>
          <h3>{{ .Params.role }}</h3>
        
          <p>{{ .Params.intro }}</p>

          <div class="default-text">
            {{ .Content }}
          </div>

          {{ with .Params.csirt_posts }}
            <h3>{{ i18n "featured_articles" }}</h3>
            <ul class="article-list">
              {{ range . }}
                {{ $page := site.GetPage "page" .url }}
                  <li>
                    {{ partial "svg/icon" "article" }} <a href="{{ .url }}">{{ .title }}</a>
                  </li>
              {{ end }}
            </ul>
          {{ end }}

          {{ with .Params.csirt_cases }}
          <h3>{{ i18n "csirt_cases" }}</h3>
          <ul class="article-list">
            {{ $cases := . }}
            {{ $caseCount := len $cases }}
            {{ range $index, $case := $cases }}
              {{ if lt $index 5 }}
                <li>
                  {{ partial "svg/icon" "article" }}  <a href="{{ $case.url }}" target="_blank" class="external">{{ $case.title }} {{ partial "svg/icon" "external" }} </a>
                </li>
              {{ end }}
            {{ end }}
          </ul>
          {{ if gt $caseCount 5 }}
            <details class="csirt-show-more pb-sm">
              <summary>
                <span>Show more</span>
                <em>Show less</em>
              </summary>
              <ul class="article-list">
                {{ range $index, $case := $cases }}
                  {{ if ge $index 5 }}
                    <li>
                      {{ partial "svg/icon" "article" }}  <a href="{{ $case.url }}" target="_blank" class="external">{{ $case.title }} {{ partial "svg/icon" "external" }} </a>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            </details>
          {{ end }}
        {{ end }}

          {{ with .Params.links }}
            <h3>{{ i18n "other_links" }}</h3>
            <ul class="article-list">
              {{ range . }}
                <li>
                  {{ partial "link_icon" .link }}
                  <a href="{{ .link }}" class="external" target="_blank">{{ .name }} {{ partial "svg/icon" "external" }} </a> 
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </article>
        <aside>
          <div class="people-image">

            {{ $defaultImage := "/images/divd-profilepicture-volunteer2.svg" }}
            {{ $imageFromParam := .Params.image | default $defaultImage }}
            {{ $imageSource := strings.TrimPrefix "/assets" $imageFromParam }}
            {{ $link := print "/" .Permalink }}
            {{ $alt := .Params.title }}

            {{ with resources.Get "/images/divd-profilepicture-volunteer2.svg" }} 
              {{ partial "tools/rimg/img" (dict "img" . "alt" $alt) }}
            <!--- $alt --->
            {{ end }}
            

            <!-- <img src="{{ $imageFromParam }}" alt="{{ $alt }}" /> -->
          </div>
        </aside>
      </div>
    {{ partial "p/layout_close" }}

  {{ partial "p/section_close" }}
</div>

{{ end }}