{{ define "main" }}

  {{ partial "breadcrumbs" . }}

  <div class="home-layout partners-page">

    <div class="opener">
      <article>
        <section>
          <h1>{{ .Params.opener }} PARTNERS</h1>
          <p class="opener">{{ .Params.intro }}</p>
          <a class="cta" href="https://drive.google.com/file/d/1LlYrVy0UWurx7IfYza7yp4QyMn-iZw4z/view?usp=sharing" target="_blank">
            Download Sponsordeck
            {{ partial "svg/icon" "external" }}
          </a>
        </section>
      </article>
      <aside>
        <div class="bubble bubble-large middle over"></div>
        
        {{ with resources.Get "images/global/partners.png" }} 
          {{ partial "tools/rimg/img" (dict "img" . "alt" "test") }}
        {{ end }}
        <div class="bubble bubble-small left under"></div>
      </aside>
    </div>

  {{ partial "p/section_open" (dict "classes" (slice "inverse"))}} 
    {{ partial "p/layout_open" (dict "classes" (slice "default")) }}
      
        <div class="reverse pb-xl">
          <h2>{{ .Params.partnerstitle }}</h2>
          <p>{{ .Params.partnersintro }}</p>
          <div class="partner-list">
            {{ range .Params.partnerlist }}
              {{ partial "card-partner" (dict 
                  "imageSource" .image
                  "name" .name
                  "link" .website 
                  "cta" (i18n "visitsite")
                  "description" .description)
              }}
            {{ end }}
          </div>
        </div>
        {{ partial "p/layout_close" }}
        {{ partial "p/layout_open" (dict "classes" (slice "overlap-bottom")) }}
          {{ with .Params.partnerquote }}
            <div class="person-highlight">
              <figure>
              {{ with resources.Get .image }} 
                {{ partial "tools/rimg/img" (dict "img" . "alt" "Communication Manager") }}
              {{ end }}
              </figure>
              <article>
                <h2>{{ .name }}</h2>
                <h4>{{ .role }}</h4>
                <p>{{ .quote }}</p>
                <a class="cta" href="{{ .website }}" target="_blank">{{ i18n "visitsite" }} {{ partial "svg/icon" "external" }}</a>
              </article>
            </div>
          {{ end }}
        
      {{ partial "p/layout_close" }}
    {{ partial "p/section_close" }}
    <div class="pt-xlg">
    {{ partial "p/section_open" (dict "classes" (slice "gradient-reverse"))}} 
    {{ partial "block/faq" . }}
      {{ partial "block/proudestwork" . }}
      {{ partial "p/section_close" }}
    </div>

  </div>
{{ end }}