
.newsroom {

  &.articles {
    padding-top: 64px;
  }

  .newsroom-article-list {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 320px); 
    //grid-auto-rows: minmax(min-content, max-content);
  }


  .highlight {
    grid-row: 1 / 3;

    background-color: #1D1D1D;
    border-radius: 20px;

    color: #fff;

    figure {

      border-radius: 20px 20px 0 0;
      margin-bottom: 16px;
      position: relative;
      width: 100%;
      height: 300px;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
      }
    }

    section {
      padding: 0 16px;
    }
  }

  .article {
    
    border-radius: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;

    section {
      padding: 16px;
      flex: 1 1 auto;

      display: flex;
      flex-direction: column;
      align-items: stretch;

      .summary {
        flex: 1 1 auto;

        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3; /* Limits the text to 3 lines */
          line-clamp: 3; /* Limits the text to 3 lines */
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: calc(1.5em * 3); /* Adjusts based on line height and number of lines */
          line-height: 1.5em; /* Ensure this matches the line-height used */
        }
      }

      nav {
        flex: 0 0 40px;
      }

      h4 {
        border: 1px solid black;
        border-radius: 32px;
        text-transform: uppercase;
        font-size: 0.6em;
        font-weight: bold;
        margin: 0 0 10px 0;
        padding: 2px 4px;
        display: inline-block;
      }
    }

    aside {
      flex: 0 0 25%;
      overflow: hidden;

      img {
        max-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
    
  }

}


.article-body {
  display: flex;
  padding: 16px 42px 50px 50px;
  article {
    flex: 1 1 auto;
    padding-right: 32px;

    h1 {
      font-weight: 900;
      font-size: 2.6em;
      font-family: var(--font-header);
      line-height: 1.2em;
      margin-bottom: 0.4em;
    }

    h2 {
      margin-top: 1.4em;
      &:first-of-type {
        margin-top: 0;
      }
    }

    ul {
      list-style: inside;
      li {
        margin-bottom: 8px;
        line-height: 1.4em;
      }
    }
  }

  aside {
    flex: 0 0 330px;


    section {
      background-color: #F2F2F2;
      border-radius: 20px;
      padding: 20px;

      h4 {
        font-weight: bold;
        margin-bottom: 4px;
      }

      ul {
        margin-bottom: 16px;
        li {
          margin-bottom: 2px;
        }
      }
    }
  }

  &.people {
    aside {
      flex: 0 0 40%;
    }
  }

  @media(max-width: 700px) {
    display: block;
    padding: 16px;
  }
}

.article-faq {
  padding: 16px 42px 50px 50px;

  .pl {
    display: unset !important;
  }
}

ul.pagination {
  margin: 32px 0;
  width: 100%;
  display: flex;
  justify-content: center;

  li {
    margin: 0 8px;

    


    a {
      display: block;
      border: 1px solid transparent;
      border-radius: 50%;
      padding: 4px 8px;

      &:hover {
        background-color: #f2f2f2;
      }
    }

    &.active a {
      border-radius: 50%;
      background-color: black;

      color: var(--brand);
    }

    &.disabled a {
      opacity: 0.2;
    }
    
  }
}