.why-our-work-matters-page {
    .overlap-top-lg .pl:first-of-type {
        padding-bottom: 0;
    }

    .opener-body {
        padding-bottom: 16px;
        text-align: center;

        p:first-of-type {
            margin-bottom: 0px;
        }
    }
}