<nav aria-label="breadcrumb" class="breadcrumbs">
  <ul>
    
    <li class="breadcrumb-item active" aria-current="page">
      {{ if eq .Page.Title "Tag" }}
        Newsroom
      {{ else }}
        {{ .Page.Title }}
      {{ end }}
    </li>
    
    {{ range .Page.Ancestors }}
      <li class="breadcrumb-item">
        {{ if eq .Title "Tag" }}
          <a href="{{ "/newsroom" | relLangURL }}">Newsroom</a>
        {{ else }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
        <span>&gt;</span>
      </li>
    {{ end }}
    
    
  </ul>
</nav>