
{{ $page := site.GetPage . }}

{{ with $page }}
  {{ $defaultImage := "/images/global/person_placeholder.png" }}
  {{ $imageFromParam := .Params.image | default $defaultImage }}
  {{ $imageSource := strings.TrimPrefix "/assets" $imageFromParam }}
  {{ $link := print "/" .Permalink }}
  {{ $alt := .Params.name }}

  <a class="card-link" href="{{ .Permalink }}">
    <div class="card-person-large">
      <div class="figure">
        {{ warnf "imageSource: %s" $imageFromParam }}
        {{ with resources.Get $imageFromParam }} 
          {{ partial "tools/rimg/img" (dict "img" . "alt" $alt) }}
          <!--- $alt --->
        {{ else }}
          <img src="{{ $imageFromParam }}" alt="{{ $alt }}">
        {{ end }}
      </div>
      <header>
        <h3>{{ .Params.title }}</h3>
        <h6>{{ .Params.role }}</h6>
      </header>
    </div>
  </a>
{{ end }}