
{{ $page := site.GetPage . }}

{{ with $page }}
  {{ $defaultImage := "/images/global/person_placeholder.png" }}
  {{ $imageFromParam := .Params.image | default $defaultImage }}
  {{ $imageSource := strings.TrimPrefix "/assets" $imageFromParam }}
  {{ $link := print "/" .Permalink }}
  {{ $alt := .Params.name }}

  <div class="card-person-large">
    <a class="figure" href="{{ .Permalink }}">
      {{ warnf "Debug: Image from param is %s" $imageFromParam }}  <!-- Log the image path from parameters -->
      {{ warnf "Debug: Image from source is %s" $imageSource }}  <!-- Log the image path from parameters -->

      <picture>
        <!-- Primary image source -->
        <source srcset="{{ $imageFromParam }}" type="image/jpeg">
        <!-- Fallback image -->
        {{ with resources.Get "/images/global/person_placeholder.png" }}
          {{ warnf "Debug: Image from asdf is %s" .RelPermalink }} 
          <img src="{{ .RelPermalink }}" alt="No image" />
        {{ end }}
      </picture>
    </a>
    <header>
      <h3><a href="{{ .Permalink }}">{{ .Params.title }}</a></h3>
      <h6>{{ .Params.role }}</h6>
    </header>
  </div>
{{ end }}