
{{ $page := site.GetPage . }}

{{ with $page }}
  {{ $defaultImage := "/images/global/person_placeholder.png" }}
  {{ $imageFromParam := .Params.image | default $defaultImage }}
  {{ $imageSource := strings.TrimPrefix "/assets" $imageFromParam }}
  {{ $link := print "/" .Permalink }}
  {{ $alt := .Params.name }}

  <div class="card-person-large">
    <a class="figure" href="{{ .Permalink }}">
      <img src="{{ $imageFromParam }}" alt="{{ $alt }}" />
    </a>
    <header>
      <h3><a href="{{ .Permalink }}">{{ .Params.title }}</a></h3>
      <h6>{{ .Params.role }}</h6>
    </header>
  </div>
{{ end }}