
{{ $page := site.GetPage "page" . }}

{{ with $page }}
  {{ $defaultImage := "#" }}
  {{ $imageFromParam := .Params.image | default $defaultImage }}
  {{ $imageSource := strings.TrimPrefix "/assets" $imageFromParam }}
  {{ $tag := cond (isset .Params "tag") .Params.tag "" }}
  {{ $link := print "/" .Permalink }}
  {{ $imageAlt := .Params.image_alt |default "" }}

  {{ partial "card" (dict 
    "imageSource" $imageSource
    "imageAlt" $imageAlt
    "title" .Title 
    "tag" $tag
    "linkTitle" (i18n "readmore") 
    "link" $link
    "classes" (slice "article")) 
  }}
{{ else }}

  <div>Card not found</div>
{{ end }}