<nav class="nav-container">

  <nav class="main-nav">
    <a class="divd" href="{{ "/" | relLangURL }}">
      {{ with resources.GetMatch "images/global/divdlogo.svg" }}
      <img src="{{ .RelPermalink }}" class="logo" alt="DIVD logo"/>
      {{ end }}
    </a>
    
  

    <article>
      <a href="{{ "/who-we-are" | relLangURL }}">
        {{ i18n "nav_about" }}
        {{ partial "svg/icon" "chevrondown" }}
      </a>

      <a href="{{ "/contribute" | relLangURL }}">
        {{ i18n "nav_community" }}
        {{ partial "svg/icon" "chevrondown" }}
      </a>

      <a href="{{ "/what-we-do/code-of-conduct" | relLangURL }}">
        {{ i18n "nav_security" }}
        {{ partial "svg/icon" "chevrondown" }}
      </a>
    </article>

    <aside>
      <section class="actions">
        {{/*  <button class="inverse search-button">
          {{ partial "svg/icon" "search" }}
          <span>search</span>
        </button>  */}}
        
        <a href="{{ "warningemail/" | relLangURL }}" class="button primary">
          {{ partial "svg/icon" "email" }}
          <span>Notification email</span>
        </a>
      </section>
      <section class="language disabled">
        {{ $currentLang := $.Site.Language }}
        {{ range .Site.Languages }}
          {{ if eq . $.Site.Language }}
            <span>{{ .LanguageName }}</span>
          {{ else }}
            {{ range $.Translations }}
              {{ if ne  . $currentLang }}
                <a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">
                  {{ .Language.LanguageName }}
                </a>
              {{ end}}
            {{ end }}
          {{ end }}
        {{ end }}
      </section>

      <button class="secondary menu-button" id="main-menu-button">
        {{ partial "svg/icon" "hamburger" }}
      </button>
    </aside>

  
  
  </nav>

  <nav class="sub-nav" id="sub-nav">
    <article>
      <section>
        <div class="topic">
          <h3>About DIVD</h3>

          <ul>
            <li>
              <a href="{{ "who-we-are/" | relLangURL }}">Who we are</a>
            </li>
            <li>
              <a href="{{ "what-we-do/" | relLangURL }}">What we do</a>
            </li>
            <li>
              <a href="{{ "who-we-are/team/" | relLangURL }}">The team</a>
            </li>
            <li>
              <a href="{{ "contact/" | relLangURL }}">Contact</a>
            </li>
            <li>
              <a href="{{ "faq/" | relLangURL }}">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="topic">
          <h3>DIVD Community</h3>
          <ul>
            <li>
              <a href="{{ "/contribute/" | relLangURL }}">Contribute</a>
            </li>
            <li>
              <a href="{{ "/contribute/volunteers/" | relLangURL }}">Become a volunteer</a>
            </li>
            <li>
              <a href="{{ "/contribute/partners" | relLangURL }}">Become a partner</a>
            </li>
            <li>
              <a href="{{ "/contribute/" | relLangURL }}#donate">Donate</a>
            </li>
            <li>
              <a href="{{ "/newsroom/" | relLangURL }}">Newsroom</a>
            </li>
          </ul>
        </div>
        <div class="topic">
          <h3>Security</h3>
          <ul>
            <li>
              <a href="{{ "/what-we-do/code-of-conduct" | relLangURL }}">Code of Conduct</a>
            </li>
            <li>
              <a href="{{ "/what-we-do/code-of-ethics" | relLangURL }}">Code of Ethics</a>
            </li>
            <li>
              <a href="{{ "/why-our-work-matters" | relLangURL }}">Why our work matters</a>
            </li>
            <li>
              <a href="{{ "/security" | relLangURL }}">Coordinated Vulnerability Disclosure</a>
            </li>
            <li>
              <a href="{{ "/anbi" | relLangURL }}">ANBI</a>
            </li>
            <li>
              <a href="https://csirt.divd.nl/" target="_blank">
                CSIRT {{ partial "svg/icon" "external" }}
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="toggle">
        <div class="language disabled">
          {{ $currentLang := $.Site.Language }}
          {{ range .Site.Languages }}
            {{ if eq . $.Site.Language }}
              <span>{{ .LanguageName }}</span>
            {{ else }}
              {{ range $.Translations }}
                {{ if ne  . $currentLang }}
                  <a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">
                    {{ .Language.LanguageName }}
                  </a>
                {{ end}}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </section>
    </article>
  </nav>
</nav>