

.rootlayout {
  background-color: transparent;
}

.home-layout {
  padding-top: 128px;
  background-color: #fff;
}


.article-layout {
  padding-top: 128px;
  background-color: #1D1D1D;
}

.topic-layout {
  padding-top: 0;
  background-color: white;
}