{{ define "main" }}
  <div class="topic-layout contact-page">

    <div class="bg-gradient bg-gradient-reverse">
      <div class="topic-intro reverse">
        {{ partial "p/layout_open" (dict "classes" (slice "right")) }}
          <div>
            <h1>{{ .Params.opener }}</h1>
          </div>
          <div>
            <p>{{ .Params.intro}}
          </div>
        {{ partial "p/layout_close" }}
      </div>
    </div>

    {{ partial "p/section_open" (dict "classes" (slice "gradient"))}} 
      {{ partial "block/faq" . }}
      {{ partial "block/contact" . }}
    {{ partial "p/section_close" }}
  </div>
{{ end }}