nav.main {
  
  background: linear-gradient(to right,#000 0%, #000 50%, transparent 51%);

  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;


  article {
    width: 100%;
    max-width: 1200px;
    margin: 0 64px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 62px;
    border-bottom-right-radius: 62px;
    background-color: #000; 


    section {
      display: flex;
      align-items: center;
    }

    section:first-of-type {
      flex: 0 0 160px;
    }
    section:nth-of-type(2) {
      flex: 1 1 auto;
      justify-content: space-between;
      padding-right: 64px;
    }

    section:last-of-type {
      justify-content: flex-end;
      padding-right: 44px;

      button {
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }



}



.logo {
  flex: 0 0 100px;
  width: 96px;
  height: 48px;

  fill: var(--brand);
}