nav.main {
  
  background: linear-gradient(to right,#000 0%, #000 50%, transparent 51%);
  z-index: 3;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;


  article {
    width: 100%;
    max-width: 1200px;
    margin: 0 64px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 62px;
    border-bottom-right-radius: 62px;
    background-color: #000; 


    section {
      display: flex;
      align-items: center;
    }

    section:first-of-type {
      flex: 0 0 160px;
    }
    section:nth-of-type(2) {
      flex: 1 1 auto;
      justify-content: space-between;
      padding-right: 64px;
    }

    section:last-of-type {
      justify-content: flex-end;
      padding-right: 44px;

      button {
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}



.logo {
  flex: 0 0 100px;
  width: 96px;
  height: 48px;

  fill: var(--brand);
}


.sub {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 10px;
  width: 100%;
  padding-top: 128px;

  box-shadow: 0px 4px 20px 0px #0000001A;

  display: none;
  justify-content: center;
  
  z-index: 2;


  &.active {
    display: flex;
  }

  article {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    display: flex;
  }


  section:first-of-type {
    background-color: white;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;

    padding: 32px;

    h3 {
      text-transform: uppercase;
      font-size: 1em;
      margin-bottom: 20px;
      font-weight: 600;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      
      li {
        margin-bottom: 10px;
        a {
          font-size: 1.2em;
          text-decoration: none;
          border-bottom: none;
          font-weight: 300;
          opacity: 0.8;
          &:hover {
            text-decoration: underline;
          }


          svg {
            width: 11px;
          }
        }
      }
    }
    
  }

  section:last-of-type {

    flex: 0 0 300px;
    background-color: #F2F2F2;

    padding: 32px;
  }
}
