{{ define "main" }}

  <div class="topic-layout why-our-work-matters-page">
    <div class="bg-gradient bg-gradient-reverse pb-xxlg">
    <div class="topic-intro reverse">
      {{ partial "breadcrumbs" . }}
      {{ partial "p/layout_open" (dict "classes" (slice "right" "vcenter")) }}
        <div>
          <h1>{{ .Params.title }}</h1>
        </div>
        <div>
          <p>{{ .Params.intro | markdownify }}</p>
        </div>  
      {{ partial "p/layout_close" }}
    </div>
  </div>
  {{ partial "p/section_open" (dict "classes" (slice "inverse"))}} 

    <div class="overlap-top-lg">
      {{ partial "p/layout_open" (dict "classes" (slice "columns" "columns-2" "stretch")) }}
        <div class="intro-card">
          {{ with resources.Get .Params.leftblock.image }} 
            {{ partial "tools/rimg/img" (dict "img" . "alt" .Params.leftblock.alt) }}
          {{ end }}
          <article>
            <header>
              <h3>{{ .Params.leftblock.title }}</h3>
              <p>{{ .Params.leftblock.content | markdownify }}</p>
            </header>
            {{ if .Params.leftblock.learnmore }}
              <nav>
                <a class="cta" href="{{ .Params.leftblock.learnmore | relLangURL }}">{{ i18n "learnmore" }}</a>
              </nav>
            {{ end }}
          </article>
        </div>

        <div class="intro-card secondary">
          {{ with resources.Get .Params.rightblock.image }} 
            {{ partial "tools/rimg/img" (dict "img" . "alt" .Params.rightblock.alt) }}
          {{ end }}
          <article>
            <header>
              <h3>{{ .Params.rightblock.title }}</h3>
              <p>{{ .Params.rightblock.content | markdownify }}</p>
            </header>
            {{ if .Params.rightblock.learnmore }}
              <nav>
                <a class="cta"  href="{{ .Params.rightblock.learnmore | relLangURL }}">{{ i18n "learnmore" }}</a>
              </nav>
            {{ end }}
          </article>
        </div>
     
      {{ partial "p/layout_close" }}

      {{ partial "p/layout_open" (dict "classes" (slice "article" )) }}
        <div class="article-body">
          <article>
            <h1>{{ .Params.contenttitle | markdownify }}</h1>

              {{ .Content }}
          </article>
        </div>
      {{ partial "p/layout_close" }}

    </div>

    {{ partial "p/section_close" }}    

  </div>

{{ end }}