

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
}




.card-layout {
  display: flex;
  justify-content: space-around;

  .content {
    flex: 1;
    max-width: 1200px; /* TODO VAR */
    display: flex;
    justify-content: space-between;

    > section {
      flex: 0 0 30%;
    }
  
  }
}

.layout-left {

  display: flex;
  justify-content: space-around;

  overflow-x: hidden;

}