

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
}


.topic-intro {
  background-color: #1D1D1D;
  padding-top: 128px;
  border-bottom-left-radius: 150px;
  
}

p.pre {
  white-space: pre-wrap;
}



.divd-family-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 32px;

  .divd-family-item {
    border-radius: 20px;
    padding: 32px;
    background-color: #1D1D1D;
    color: #fff;

    h3 {
      margin-bottom: 16px;
    }
  }
}