

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
}


.topic-intro {
  background-color: #1D1D1D;
  padding-top: 128px;
  border-bottom-left-radius: 150px;
  
}

p.pre {
  white-space: pre-wrap;
}