* {
  box-sizing: border-box;
}

:root {
  --fg: #000;
  --bg: #fff;
  --brand: #FFD736;
}

[data-theme='dark'] {
  --fg: #fff;
  --bg: #000;
}


select {
  font-size: 24px;
}

a {
  color: var(--fg);
  text-decoration: none;
  border-bottom: 1px solid var(--fg);
}